.btn {
  background: transparent;
  border: 1px solid var(--text);
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  padding: 0px 20px;
  font-size: 0.7rem;
  cursor: pointer;
  margin-left: 0;
  transition: background 0.5s, border-color 0.5s;
  line-height: 30px;

  &.btnLogout {
    background: var(--text);
    color: var(--bg);
  }
}
//기존 공통 클래스에 hover문 연결 (우선순위문제 해결)
.btn:hover {
  background: var(--point);
  color: var(--bg);
  border-color: transparent;
}

.loginInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .thumbnail {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: $tablet) {
  .btn {
    display: none;
  }
}
