header {
  .navbar {
    margin-left: auto;
    display: flex;
    gap: 40px;
    a {
      &.on {
        color: var(--point);
      }
    }
  }
}

@media (max-width: $tablet) {
  header {
    .navbar {
      display: none;
    }
  }

  aside {
    .navbar {
      display: block;

      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
